#landingNavLogo {
    width: 75px!important;
    height: 75px!important;
}

#landingNavTitle {
    text-align: left;
    padding: 0px;
    margin-top: 2px;
    color: #3a405a;
}

#landingNavlinks {
    text-align: right;
    padding-top: 25px;
}

#landingNavContainer {
    background-color: #fafafa;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.landingNavLink {
    margin-left: 45px;
}



.landingNavLink:link {
    color: #3a405a;
}

.landingNavLink:visited {
    color: #3a405a;
    text-decoration: none;
}

.landingNavLink:hover {
    color: #aec5eb!important;
    text-decoration: none!important;
}

.landingNavLink:active {
    color: #aec5eb!important;
}

#landingNavLoginBtn {
    margin-left: 45px;
    color: #3a405a;
    background-color: #e9afa3;
    border: #e9afa3;
    height: 30px; 
    border-radius: 0;
    padding-top: 2px;
}

#landingNavLoginBtn:hover {
    background-color: #d97f6c;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

#logoCol {
    padding: 0px!important;
    margin: 0px!important;
}

