#navLogo {
    width: 75px!important;
    height: 75px!important;
}

#navTitle {
    text-align: left;
    padding: 0px;
    margin-top: 2px;
    color: #3a405a;
}

#navlinks {
    text-align: right;
    padding-top: 25px;
}

#navContainer {
    background-color: #fafafa;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navLink {
    margin-left: 45px;
}

.navLink:link {
    color: #3a405a;
}

.navLink:visited {
    color: #3a405a;
    text-decoration: none;
}

.navLink:hover {
    color: #aec5eb!important;
    text-decoration: none!important;
}

.navLink:active {
    color: #aec5eb!important;
}

.activeNavLink {
    color: #aec5eb!important;
}

#navLoginBtn {
    margin-left: 45px;
    color: #3a405a;
    background-color: #e9afa3;
    border: #e9afa3;
    height: 30px; 
    border-radius: 0;
    padding-top: 2px;
}

#navLoginBtn:hover {
    background-color: #d97f6c;
}

#logoCol {
    padding: 0px!important;
    padding-right: 10px!important;
    margin: 0px!important;
}

